


<div id="map-ig" mapnilIg></div>
<div ng-show="zone" class="result">
<div class="row instagram-controls">
    <h3 class="col-md-4"><b>{{zone}}</b> - <b>{{selected.length}}</b> images</h3>
    <div class="col-md-8">
    <div style="float:right;margin-left:50px;">
        <span>Show:</span>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="see" btn-radio="true" uncheckable>Images</label>
        <label class="btn btn-success" ng-model="see" btn-radio="false" uncheckable>Colors</label>

    </div>
    </div>
        <div style="float:right;">
            <span>Sort by:</span>
        <div class="btn-group">

            <label class="btn btn-success" ng-model="sort" btn-radio="'h'" uncheckable>Hue</label>
            <label class="btn btn-success" ng-model="sort" btn-radio="'l'" uncheckable>Brightness</label>
            <label class="btn btn-success" ng-model="sort" btn-radio="'s'" uncheckable>Saturation</label>

        </div>
    </div>
    </div>

</div>
<div ng-repeat="s in selected" ng-style="{'background-color':s.color} " style="width:150px;height:150px;float:left">
    <a href="{{s.link}}"><img ng-show="see" ng-src="{{s.thumb}}"/></a>
</div>
</div>

<div ng-hide="zone" class="start"><span>Click on a zone on the map</span></div>